:root{
    --bg: rgb(70, 17, 4);
    --scnbg: rgb(228, 214, 19);
    --fontcl: #555555;
}

body{
    padding: 0;
    margin: 0;
    height: 2000rem;
    background-color: var(--bg);
}


main{
    background-color: var(--bg);
    padding: 0;
    margin: 0;
}
.hero{
    background-color: aqua;
    height: 100vh;
}

header{
    position: sticky;
    background-color: var(--scnbg);
    height: 3rem;
}

header ul{
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}
header ul li{
    float: left;
    list-style-type: none;
}
header ul a{
    color: var(--fontcl);
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
}
.asd{
    height: 200px;
}
