:root{
    --bg: rgb(70, 17, 4);
    --scnbg: rgb(228, 214, 19);
    --fontcl: #dfb330;
    --scnfontcl: #000;
}

body{
    padding: 0;
    margin: 0;
    height: 2000rem;
    background-color: var(--bg);
    font-family: "Kanit",sans-serif;
    color: var(--fontcl)
}


main{
    background-color: var(--bg);
    padding: 0;
    margin: 0;
}
.hero{
    background-color: aqua;
    height: calc(100vh - 3rem);
}

header{
    top: 0;
    position: sticky;
    width: 100%;
    background-color: var(--fontcl);
    height: 3rem;
}

header ul{
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}
header ul li{
    float: left;
    list-style-type: none;
}
header ul a{
    color: var(--scnfontcl);
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
}
.test{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 20rem;
}
/*Menü css*/
h1{
    font-size: 4rem;
    text-align:center;
}
p{
    font-size: 22px;
    padding-bottom: 15px;
}
table, th{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 25rem 20px;
}
h2
{
    text-align:center;
    padding-bottom: 20px;
    font-size: xx-large;
}
.menuk
{
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

#kupon{
    text-align:center;
    font-size: x-large;
}
